h1 {
	font-family: verdana;
	color: #79c879;
}
header {
	position: relative;
	right: 0px;
	bottom: -10px;
}

#nav {
	position: relative;
	right: 40px;
}

#banner {
    color: #4682b4;
}

#left {
    position: relative;
    top: 40px;
    width: 20%;
    height: 100%;
    float: left;
}

#right {
    position: relative;
    float: right;
    width: 60%;
    height: 100%;
}
