<!DOCTYPE html>
<html>
<head>
	<!---<link rel="stylesheet" href= "{{ url_for('static', filename='base.css') }}">-->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>Hello World</title>
	{% endif %}
</head>
<body>
	<nav role="navigation">
		 <ul class="nav nav-tabs">
			 <li role="presentation"><a href="{{ url_for('index') }}">
				 <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
				 home</a></li>
			 <li role="presentation"><a href="{{ url_for('communities') }}">
				 <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
				 communities</a></li>
			{% if current_user.is_authenticated %}
				<li role="presentation"><a href="{{ url_for('user_profile')}}">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				user history</a></li>
				<li role="presentation"><a href="{{ url_for('logout') }}">
					<span class="glyphicon glyphicon-edit"></span>
					logout</a></li>
			{% else %}
				<li role="presentation"><a href="{{ url_for('login') }}">
					<span class="glyphicon glyphicon-edit"></span>
					login</a></li>
				<li role="presentation"><a href="{{ url_for('user_profile')}}">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					access your profile</a></li>

			{% endif %}
			<li role="presentation"><a href="{{ url_for('authenticate_with_google')}}">
			<span class="glyphicon glyphicon-share" aria-hidden="true"></span>
			authenticate with google</a></li>
		 </ul>
	</nav>
	<div id="slogan" style="position: relative; left: 40px;">
			<h3 style="color: #79c879">
				<img src="static/cartoon_sloth.jpg" height="76px" width="92px">
				CommunityProject.io
		 <a style="color: #336699; font-size: 18px; text-decoration: underline" href="https://github.com/bendominguez011/no-name-web-app">Source Code</a>
	 </h3>
	 </div>
	<hr align="left" width="45%" style="position: relative; left: 40px;">
{% with messages = get_flashed_messages() %}
{% if messages %}
	{% if request.MOBILE %}
		<div>
	{% else %}
		<div style="position: relative; left: 85px;">
{% endif %}
	<ul style="list-style-type: none">
		{% for message in messages %}
		<li>{{ message }} </li>
		{% endfor %}
	</ul>
</div>
{% endif %}
{% endwith %}

{% block content %}
{% endblock content %}
</div>
</body>
</html>
