<html>
<head>
	<!--<link rel="stylesheet" href="{{ url_for('static', filename='community.css')}}">-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='community.css')}}">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
<div id="banner" style="position: relative; left: 40px;">
    <h1>{{ c.name }}<span style="font-size: 12px">, founded by {{ c.founder.username }} on {{c.time_founded.month}}/{{c.time_founded.day}}/{{c.time_founded.year}}</span></h1>
	{% if session.user %}
    <p> Welcome, {{session.user}}!, your last visit was on 0/0/0</p>{% if session.FOUNDER_MODE %}<p style="color: red">FOUNDER MODE</p>{% endif %}
	{% else %}
	<p>Welcome, anonymous user. If you can, sign up to contribute to the community!</p>
	{% endif %}
</div>
</header>

<div>
  <div id='left'>
	<div id='nav'>
	  <ul style="list-style-type: none">
	      <li><a href="/community/{{community}}">community hub</a></li><br>
        <li><a href="/community/{{community}}/new">create post</a></li><br>
        <li> <a href="/community/{{community}}/top_users"> top users</a></li><br>
				<li> <a href="/">home</a></li>
	    </ul>
	</div>
{% if g.search_enabled %}
<div id='search'>
    <form action="/community/{{community}}/search" method="post" name="search">
				{{g.search_form.hidden_tag()}}
		<p>Search here
		{{ g.search_form.search }}
		</p>
		<p>Filter by community?
		{{ g.search_form.community_search }}
		</p>
		<label for="title">{{g.search_form.time_search.label}}</label>
				{{ g.search_form.time_search }}
</div>
		<p> <input type="submit" value="search"/></p>
		</form>
		<br>
{% endif %}
        <a href="/community/{{community}}/FAQ">FAQ</a>
		<br>
		<ul>
		<p style="position: relative; right: 40px">Moderators:</p>
		{% for moderator in c.moderators.all() %}
		<li>{{moderator.username}}</li>
		{% endfor %}
		</ul>
        <br>
		{% if session.joined %}
		<p>You are currently a part of this community.</p>
        <form action="/community/{{community}}/leave" method="post" name="leave">
				{{ g.join_form.hidden_tag() }}
             <p>{{ g.join_form.leave }}</p>
        </form>
		{% else %}
		<form action="/community/{{community}}/join" method="post" name="join">
			{{ g.join_form.hidden_tag() }}
			<p>{{ g.join_form.join }}</p>
		</form>
		{% endif %}
		{% if session.FOUNDER_MODE %}
		<p style="color:red">Since you're the founder!</p>
		<a href="/community/{{community}}/add_moderators">add moderators</a>
		{% endif %}
    </div>
	</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
	<ul>
		{% for message in messages %}
		<li><p><span style="color: red">{{ message }}</p></span></li>
		{% endfor %}
	</ul>
{% endif %}
{% endwith %}
<div>
    {% block content %}
	{% endblock content %}
</div>
</body>
</html>
