{% extends "base.html" %}
{% block content %}
<div style="position: relative; left: 40px; width: 75%;">
<p> CommunityProject.io is currently in a public beta mode while I work out some bugs and add in some features.
	coming soon:
		<ul>
			<li>Oauth with Google</li>
			<li>Votes</li>
			<li> updated templating/design</li>
		</ul>
		Take a look at the about page.
</p>
</div>
	<div style="position: relative; left: 40px;">
	{% if g.user.is_authenticated %}
	<p>Hello {{g.user.username}}, this is your index page.</p>
	{% else %}
	<p> Welcome! This is the default index page. </p>
	{% endif %}
	</div>

<div style="position: relative;">
<ul>
{% for post in posts %}
<li style="list-style-type: none">
	<hr>
	<a href="/community/{{post.community.name}}/post/{{post.id}}">{{post.title}} <span style="color: #79c879">({{post.community.name}})</span></a>
</li>
{% endfor %}
<hr>

{% if posts.has_prev %}
<a href="{{ url_for('index', page=posts.prev_num) }}">{{ posts.prev_num }}</a>
{% else %}
Newer Posts
{% endif %}
{% if posts.has_next %}
<a href="{{ url_for('index', page=posts.next_num) }}">{{ posts.next_num }}</a>
{% else %}
Older Posts
{% endif %}
</ul>
</div>
{% endblock content %}
