{% extends "base.html" %}
{% set active_page = "login" %}
{% block content %}

<div style="position: relative; left: 40px;">
<h1> Sign In</h1>
	<form action="/login/check" method="post" name="login">
		{{ form.hidden_tag() }}
		<p>
			Username:<br>
			{{ form.username(size=80) }}<br>
			{% for error in form.username.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			Password:<br>
			{{ form.password(size=80)}}
			{% for error in form.password.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>

		<p>{{ form.remember_me }}Remember Me</p>
		<p><input type="submit" value="Sign In"></p>
	</form>
<p>Or</p>
<a style="font-size: 30px;" href="{{ url_for('signup') }}">Sign up</a>
</div>
{% endblock content %}
