{% extends "community.html" %}
{% block content %}
<div>
	<h1>{{ post.title }}</h1>
	<hr>
</div>
<div style="width: 70%">
	<p>{{ post.body }}</p>
</div>
<hr>
<form action="" method="post" name="comment">
	<p>
		{{ form.content(size=80) }}
		{% for error in form.content.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>
	<p><input type="submit" value="Add Comment"></p>
</form>
<div>
	{% for comment in post.comments.all() %}
		<span style="color: #79c879">{{ comment.author.username }}</span><br>
		{{ comment.content }}<br>
	{% endfor %}
</div>
{% endblock content %}
